
extends layout

block content
    div.card
        img.circle(src="/jshare.png" width="100" height="100")
        h1 Invalid link
        p Looks like this invite link is invalid or expired. Please ask the group owner for a new link.
